
a(href=("/speisekarte.html#antipasti")).separator.mobile-block
    .col-md-12.col-sm-12.col-lg-6.relative.food-back-left
        .wrap-food.left.container.d-flex
            img.img-food.m-2.img-fluid(src=require("Images/antipasti.jpg", alt=""))
            .mobile-none
                .boxed.absolute.d-flex.justify-content-center
                    h2 Antipasti
    .wrapper.d-flex.right.mx-4.col-lg-6
        .food-text
            h2 Antipasti
            p 
                | Unser Restaurant bietet eine vielfältige Auswahl an leckeren Antipasti, die den perfekten Auftakt für euer italienisches 
                | Genusserlebnis bieten. Von klassischen Favoriten bis hin zu kreativen Variationen bieten wir euch eine breite 
                | Palette an köstlichen Vorspeisen, die eure Gaumen verwöhnen werden.
a(href=("/speisekarte.html#pizza")).separator.mobile-block
    .wrapper.d-flex.left.mx-4.col-lg-6
        .food-text
            h2 Principale
            p 
                | In unserem Restaurant erwartet Sie eine vielfältige Auswahl an köstlichen Pizzen und Pasta-Gerichten, die mit authentischen 
                | Zutaten und traditionellen Rezepten zubereitet werden. 
                | Unsere Leidenschaft für die italienische Küche spiegelt sich in jedem Bissen wider, den Sie genießen werden.
    .col-md-12.col-sm-12.col-lg-6.relative.food-back-right
        .wrap-food.right.container.d-flex
            img.img-food.right.m-2.img-fluid(src=require("Images/hauptspeisen.jpeg", alt=""))
            .mobile-none
                .boxed-r.absolute.d-flex.justify-content-center
                    h2 Principale
a(href=("/speisekarte.html#dolci")).separator.mobile-block
    .col-md-12.col-sm-12.col-lg-6.relative.food-back-left
        .wrap-food.left.container.d-flex
            img.img-food.m-2.img-fluid(src=require("Images/nachspeisen.jpg", alt=""))
            .mobile-none
                .right.d-flex
                    .boxed.absolute.d-flex.justify-content-center
                        h2 Dolci
    .wrapper.d-flex.right.mx-4.col-lg-6
        .food-text
            h2 Dolci
            p Genießet den süßen Abschluss eures italienischen Erlebnisses mit unseren unwiderstehlichen Dolci!
            p 
                | In unserem Restaurant bieten wir köstlichen italienischen Desserts, die eure Geschmacksknospen 
                | verwöhnen werden. Genießt unsere klassischen Favoriten an süßen Leckereien, die euch das Gefühl geben werden, 
                | direkt in Italien zu sein.
.d-grid.container.my-3
    button.btn.btn-outline-primary(type='button') Download Speisekarte
        svg.icons(width='41' height='41' viewbox='0 0 41 41' fill='current-Color' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M26.9563 31.7439C30.0702 32.0952 32.7893 32.594 34.8854 33.1664C36.342 33.5643 37.4772 33.9959 38.1993 34.4568C38.3541 34.5552 38.482 34.6579 38.5876 34.7582C38.661 34.8279 38.7292 34.879 38.7266 34.9506C38.7253 34.9917 38.6551 34.9874 38.6164 35.0254C38.5016 35.1356 38.3423 35.2303 38.1554 35.333C37.0326 35.9508 34.9752 36.4198 32.3086 36.7797C30.2558 37.0562 27.8548 37.24 25.2341 37.3415C23.7151 37.4 22.1241 37.443 20.4838 37.4343C18.8436 37.4505 17.2519 37.4175 15.7329 37.3639C13.1102 37.2717 10.7073 37.093 8.65317 36.8183C5.97932 36.4615 3.91606 35.9894 2.79195 35.3673C2.60242 35.262 2.44174 35.1636 2.32565 35.0503C2.28106 35.0067 2.21088 34.998 2.20957 34.9506C2.20826 34.8971 2.25285 34.8547 2.30139 34.803C2.42141 34.6735 2.58143 34.5433 2.78277 34.4175C3.52977 33.9504 4.70044 33.512 6.20034 33.114C8.35411 32.5423 11.146 32.0559 14.3334 31.7215C14.5249 31.7084 14.6705 31.5421 14.6574 31.3497C14.6442 31.1573 14.4783 31.0115 14.2862 31.0246C10.2928 31.1461 6.87913 31.5453 4.51418 32.1338C2.87787 32.5411 1.72228 33.0817 1.13268 33.6372C0.699175 34.0457 0.522755 34.5041 0.508982 34.9506C0.491275 35.5111 0.789681 36.0984 1.46913 36.6365C2.33811 37.3247 4.01443 37.9948 6.29609 38.541C8.90501 39.1644 12.337 39.6595 16.215 39.8936C17.5876 39.9765 19.0167 40.012 20.4838 40.025C22.4651 40.0107 24.3769 39.9515 26.1758 39.8164C29.474 39.5698 32.3938 39.1295 34.6807 38.5833C36.9703 38.0365 38.6525 37.3608 39.5215 36.6676C40.2108 36.1177 40.5111 35.5198 40.4908 34.9506C40.4737 34.5035 40.3019 34.0457 39.8743 33.6378C39.2965 33.086 38.1665 32.5423 36.5571 32.1375C34.2498 31.5571 30.9169 31.1679 27.0055 31.047C26.814 31.0333 26.6474 31.1784 26.6336 31.3709C26.6198 31.5627 26.7641 31.7302 26.9563 31.7439Z')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M18.4087 30.2148C18.3637 30.1511 18.3224 30.0862 18.2837 30.0187L13.3701 21.593C12.6469 20.3524 13.0682 18.7584 14.3102 18.0354C15.5522 17.313 17.1479 17.7332 17.8711 18.9744L17.8861 19V3.20813C17.8861 1.45118 19.0531 0.0251465 20.4907 0.0251465C21.9284 0.0251465 23.0953 1.45118 23.0953 3.20813V19.1193L23.1247 19.0687C23.8448 17.8262 25.4393 17.4017 26.6831 18.1209C27.927 18.8402 28.3526 20.4329 27.632 21.6754L22.8003 30.0131C22.7703 30.0649 22.739 30.1161 22.7053 30.1661H22.7084L20.5432 33.7024L18.4087 30.2148Z')
