.container.text-center
    h1.text-primary.py-3 Anschrift 
    p.py-3.fw-bold Trattoria Viva Napoli 
    p.m-0 Auf den Küthen 1
    p 33154 Salzkotten
    h2 Kontakt
    p 
        | Telefon: 
        a(href='tel:+4952589387880') 05258 9387880
        br
        | Mail:
        a(href='mailto:andoligaetano@icloud.com') info@restaurtant-napoli
    