#antipasti.item
    .hero-speisen.antipasti.hero-content.parallax.bg-image
        h2 Antipasti
    .row-items.container
        .separator
            .row.border-bottom
                .col-9
                    h4 Mozzarella Caprese
                    p Mozzarella auf frischen Tomaten und Basilikum

                .col-3
                    h5 8,00 EUR
        .separator
            .row.border-bottom 
                .col-9
                    h4 Carpaccio di Manzo
                    p hauchdünne, marinierte Scheiben vom Rind mit Rucola und Parmesanspänen

                .col-3
                    h5 13,50 EUR
        .separator
            .row.border-bottom 
                .col-9
                    h4 Bruschetta
                    p geröstete Weißbrotscheiben mit Tomatenfruchtfleisch und Knoblauch

                .col-3
                    h5 8,00 EUR
        .separator
            .row.border-bottom 
                .col-9
                    h4 Antipasti della Casa
                    p Antipasti nach Art des Hauses

                .col-3
                    h5 11,00 EUR
        .separator
            .row.border-bottom 
                .col-9
                    h4 Parmigiana
                    p geschichtete Auberginen mit Tomaten, Mozzarella und Parmesan

                .col-3
                    h5 8,00 EUR        
        .separator
            .row.border-bottom 
                .col-9
                    h4 Vitello Tonnato
                    p Kalbfleisch mit Thunfischsauce und Kapern

                .col-3
                    h5 13,50 EUR
    h2 Zuppa
    .row-items.container
        .separator
            .row.border-bottom
                .col-9
                    h4 Minestrone
                    p Suppe mit frischem Gemüse

                .col-3
                    h5 8,00 EUR
        .separator
            .row.border-bottom
                .col-9
                    h4 Crema di Pomodoro
                    p frische Tomatencremesuppe
                .col-3
                    h5 8,00 EUR
    h2 Insalata
    .row-items.container
        .separator
            .row.border-bottom
                .col-9
                    h4 Insalata Gamberoni
                    p gemischter Salat mit Riesengarnelen

                .col-3
                    h5 14,50 EUR
        .separator
            .row.border-bottom
                .col-9
                    h4 Insalata Rustica
                    p gemischter Salat mit Putenbruststreifen und Parmesanspänen
                .col-3
                    h5 12,50 EUR

        .separator
            .row.border-bottom
                .col-9
                    h4 Insalata la Casa
                    p gemischter Salat mit Thunfisch, Paprika, Oliven, Parmaschinken und Parmesanspänen
                .col-3
                    h5 13,50 EUR
        .separator
            .row.border-bottom
                .col-9
                    h4 Insalata Italiana
                    p italienischer Salat mit Rinderfiletstreifen, Kräuterseitlingen, Cherrytomaten dazu Caesar Dressing
                .col-3
                    h5 13,50 EUR

#pasta.item
    .hero-speisen.pasta.hero-content.parallax.bg-image 
        h2 Pasta
    .row-items.container
        .separator 
            .row.border-bottom          
                .col-9
                    h4 Linguine con rucola 
                    p Linguine mit Rucola, Kirschtomaten, Knoblauch und Pinienkernen dazu Parmesanspäne
                .col-3
                    h5 14,00 EUR
        .separator 
            .row.border-bottom          
                .col-9
                    h4 Tagliatelle Gamberoni 
                    p feine Bandnudeln mit Riesengarnelen, Knoblauch und Kirschtomaten im Parmesanlaib
                .col-3
                    h5 15,50 EUR
        .separator 
            .row.border-bottom          
                .col-9
                    h4 Tagiatelle Rossini 
                    p feine Bandnudeln mit Rinderfiletspitzen, Kräuterseitlingen und Kirschtomaten im Parmesanlaib
                .col-3
                    h5 15,00 EUR
        .separator 
            .row.border-bottom          
                .col-9
                    h4 Ravioli ricotta e spinaci con-burro e salvia
                    p Ravioli gefüllt mit Ricotta und Spinat an einer Butter-Salbei Sauce
                .col-3
                    h5 14,50 EUR
        .separator 
            .row.border-bottom          
                .col-9
                    h4 Paccheri funghi e salsiccia
                    p Paccheri mit italienischer Salsiccia Kirschtomaten und Champignons
                .col-3
                    h5 14,50 EUR
        .separator 
            .row.border-bottom          
                .col-9
                    h4 Linguine all Salmone
                    p Linguine mit Lachs, Kirschtomaten und Knoblauch
                .col-3
                    h5 14,50 EUR
        .separator 
            .row.border-bottom          
                .col-9
                    h4 Gnocci al Tartufo 
                    p Gnocchi gefüllt mit Trüffel und Ziegenkäse an eine Parmesancreme
                .col-3
                    h5 15,00 EUR
        .separator 
            .row.border-bottom          
                .col-9
                    h4 Lasagne Classica 
                    p Lasagne Bolognese überbacken mit Mozzarella
                .col-3
                    h5 12,00 EUR
        .separator 
            .row.border-bottom          
                .col-9
                    h4 Linguine Frutti di Mare 
                    p Linguine mit Meeresfrüchten
                .col-3
                    h5 16,50 EUR

#pizza.item
    .hero-speisen.pizza.hero-content.parallax.bg-image
        h2 Pizza
    .row-items.container
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Pizza Margherita
                    p mit Tomatensauce, Mozzarella und frischem Basilikum
                .col-3
                    h5 8,50 EUR
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Pizza Vegetaria
                    p mit Tomatensauce, Mozzarella und frischem Gemüse 
                .col-3
                    h5 11,00 EUR
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Pizza Romana  
                    p mit Tomatensauce, Mozzarella, Schinken und Champignons 
                .col-3
                    h5 11,00 EUR
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Pizza Carettiera
                    p mit Sahnesauce, Mozzarella, italienischer Salsiccia und frischer Spinat
                .col-3
                    h5 12,00 EUR
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Pizza Tonno e Cipolle
                    p mit Tomatensauce, Mozzarella, Thunfisch und Zwiebeln 
                .col-3
                    h5 12,00 EUR
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Pizza Scampi  
                    p mit Tomatensauce, Mozzarella, Scampi und Knoblauch 
                .col-3
                    h5 12,00 EUR
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Pizza O´Core e Napule
                    p mit Tomatensauce, Mozzarella und Meeresfrüchten
                .col-3
                    h5 13,50 EUR
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Pizza Quattro Gusti
                    p mit Tomatensauce, Mozzarella, Landschinken, pikanter Salami, Champignons und Rucola 
                .col-3
                    h5 13,00 EUR
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Pizza Mamma Anna  
                    p mit Tomatensauce, Mozzarella, Champignons, Artischocken, Schinken, Oliven und Rucola
                .col-3
                    h5 13,00 EUR
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Pizza Viva Napoli  
                    p mit Tomatensauce, Mozzarella, Landschinken, Rucola und Parmesan
                .col-3
                    h5 13,00 EUR

#fleisch.item
    .hero-speisen.fleisch.hero-content.parallax.bg-image
        h2 Fleisch
    .row-items.container
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Saltinbocca alla Romana
                    p Kalbfleisch mit Parmaschinken und Salbei an einer Weißweinsauce dazu Kartoffeln und frisches Gemüse
                .col-3
                    h5 20,50 EUR
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Rumpsteak vom Grill
                    p gegrilltes Rumpsteak dazu Kartoffeln und frisches Gemüse
                .col-3
                    h5 22,00 EUR
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Rumpsteak alla Napoletana  
                    p Rumpsteak mit Oliven, Kapern an einer feinen Tomatensauce dazu Kartoffeln und frisches Gemüse
                .col-3
                    h5 23,00 EUR
#fisch.item
    .hero-speisen.fisch.hero-content.parallax.bg-image
        h2 Fisch
    .row-items.container
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Lachsfilet
                    p frisches Lachsfilet an einer Vinaigrette dazu Kartoffeln und frisches Gemüse
                .col-3 
                    h5 21,00 EUR

#dolci.item
    .hero-speisen.desserts.hero-content.parallax.bg-image
            h2 Dolci
    .row-items.container
        .separator 
            .row.border-bottom
                
                
                .col-9
                    h4 Tiramisu 
                    p Mascarponecreme auf Kaffee-Biskuit
                .col-3
                    h5 7,00 EUR
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Panna Cotta
                    p geliertes Sahnedessert mit feiner Vanillenote an wahlweise Frucht- oder Karamellsauce 
                .col-3
                    h5 7,00 EUR
        .separator 
            .row.border-bottom      
                .col-9
                    h4 Schokotraum 
                    p warmes Schokotörtchen mit flüssigem Kern 
                .col-3
                    h5 8,00 EUR
