.box
    .container 
        img.img-fluid.team(src=require("Images/team.jpg", alt=""))
        .box 
        h2 Das Team, unser ganzer Stolz.
        p   
            | Von der herzlichen Begrüßung bis zur individuellen Betreuung während des Besuchs, bestrebt unser Team euch jeden 
            | Wunsch direkt von den Lippen abzulesen. 
        p
            | Unser freundliches und professionelles Team hat eine Leidenschaft für erstklassischen Service 
            | und eine exzellente Küche. So können wir euch eine unvergessliche gastronomische Erfahrung bieten.  

        p 
            | Dabei ist unser größtes Ziel, euch den Aufenthalt in der Trattoria Viva Napoli in Salzkotten  
            | unvergesslich zu machen und euch "la dolce Vita", das süße Leben Italiens näher zu bringen. 