.container.container-fluid 
    h1.text-primary.py-3 Impressum
    h3.py-3 gemäß §5 TMG
    p.fw-bold 
      |Trattoria Viva Napoli
    p 
      |Inhaber: Gaetano Andoli 
      br
      |Auf den Küthen 1
      br
      |33154 Salzkotten
    h2 Kontakt
    p 
        | Telefon: 
        a(href='tel:+4952589387880') 05258 9387880
        br
        | Mail:
        a(href='mailto:andoligaetano@icloud.com') info@restaurtant-napoli

    h3 Berufsbezeichnung und berufsrechtliche Regelungen
    p 
        |Berufsbezeichnung: Restaurant
        br 
        |Aufsichtsbeh&ouml;rde: Ordnungsamt Salzkotten
        br 
        |Es gelten folgende berufsrechtliche Regelungen:
    h3 EU-Streitschlichtung
    p
        |Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:
        a(href='https://ec.europa.eu/consumers/odr/' target='_blank' rel='noopener noreferrer') 
        br
        |Unsere E-Mail-Adresse finden Sie oben im Impressum.
    h3 Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
    p
        |Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
        br
        |Quelle: 
        a(href='https://www.e-recht24.de/impressum-generator.html') e-recht24

