.prime-bg.box
    
    .container.text-center
        h2 Öffnungszeiten 
        
        
            h3.mb-3.tertiary Mittags 
            .row
                p.mb-1.fw-bold.text-md-end.col-md-6.col-sm-12 Dienstag - Freitag:
                p.text-md-start.col-md-6.col-sm-12 12:00 Uhr - 14.30 Uhr
            
            table.table

                h3.mb-3.tertiary Abends
                .row
                    p.mb-1.fw-bold.text-md-end.col-md-6.col-sm-12 Dienstag - Freitag:
                    p.text-md-start.col-md-6.col-sm-12 17:30 Uhr - 22.30 Uhr
                    p.mb-1.fw-bold.text-md-end.col-md-6.col-sm-12 Samstag
                    p.text-md-start.col-md-6.col-sm-12 17:00 Uhr - 23.00 Uhr
                    p.mb-1.fw-bold.text-md-end.col-md-6.col-sm-12 Sonntag
                    p.text-md-start.col-md-6.col-sm-12 17:00 Uhr - 22.00 Uhr
                    

        p.fw-bold Montags Ruhetag




