.container
    .separator
        p.text-center 
            | die Trattoria Viva Napoli bietet euch die traditionelle Küche Italiens in Ihrer ganzen Vielfalt und Authentizität. 
            | Für unsere italienischen Spezialitäten verwenden wir nur Produkte, von ausgewählten Händlern, 
            | die liebevoll und frisch für euch zubereitet werden. 
            | Unser Restaurant ist stolz darauf, die köstlichen Aromen und den Charme der italienischen Küche zu präsentieren. 
            | Unser Team von erfahrenen Köchen bereitet mit Leidenschaft und Sorgfalt eine Vielzahl von traditionellen italienischen 
            | Gerichten zu. Von hausgemachter Pasta und Pizza bis hin zu köstlichen Fleisch- und Fischgerichten bieten wir 
            | euch eine authentische kulinarische Erfahrung.
        h2.text-center Buon appetito!