svg.invisible-area(width='0' height='0' viewbox='0 0 0 0' fill='current-Color' xmlns='http://www.w3.org/2000/svg')
  defs
    lineargradient#icon-color(x2='0.35' y2='1')
      stop(offset='0%' stop-color='var(--color-stop)')
      stop(offset='30%' stop-color='var(--color-stop)')
      stop(offset='100%' stop-color='var(--color-bot)')