.prime-bg
  .separator
      .container
      a(href="/impressum.html") 
          .mx-auto.text-center Impressum

.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top
  .container.wrap-footer
    .wrap-copyright.col-lg-6.col-md-12.col-sm-12.col-xs-12.align-items-center.justify-content-center
      p.text-center.pb-3.text-body-secondary &copy; 2023 Trattoria Viva Napoli - Salzkotten
    ul.wrap-social.nav.col-lg-6.col-md-12.col-sm-12.col-xs-12.list-unstyled

      li.ms-3
        a.text-center(href='https://www.instagram.com/trattoriavivanapoli/')
          svg.icons(width='30px' height='30px' viewbox='0 0 514 514' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;')
            g(transform='matrix(1,0,0,1,-303.493,-1127.32)')
              g
                path(d='M817.337,1264.64C817.337,1188.85 755.808,1127.32 680.022,1127.32C680.022,1127.32 440.808,1127.32 440.808,1127.32C365.022,1127.32 303.493,1188.85 303.493,1264.64C303.493,1264.64 303.493,1503.85 303.493,1503.85C303.493,1579.64 365.022,1641.16 440.808,1641.16C440.808,1641.16 680.022,1641.16 680.022,1641.16C755.808,1641.16 817.337,1579.64 817.337,1503.85C817.337,1503.85 817.337,1264.64 817.337,1264.64ZM781.92,1264.64L781.92,1503.85C781.92,1560.09 736.261,1605.75 680.022,1605.75L440.808,1605.75C384.569,1605.75 338.91,1560.09 338.91,1503.85L338.91,1264.64C338.91,1208.4 384.569,1162.74 440.808,1162.74L680.022,1162.74C736.261,1162.74 781.92,1208.4 781.92,1264.64Z')
                g(transform='matrix(1,0,0,1,-72.7094,-52.6494)')
                  path(d='M633.124,1312.76C564.613,1312.76 508.991,1368.38 508.991,1436.89C508.991,1505.4 564.613,1561.03 633.124,1561.03C701.636,1561.03 757.258,1505.4 757.258,1436.89C757.258,1368.38 701.636,1312.76 633.124,1312.76ZM633.124,1348.18C682.089,1348.18 721.841,1387.93 721.841,1436.89C721.841,1485.86 682.089,1525.61 633.124,1525.61C584.16,1525.61 544.408,1485.86 544.408,1436.89C544.408,1387.93 584.16,1348.18 633.124,1348.18Z')
                g(transform='matrix(2.28432,0,0,2.28432,-887.802,-1616.79)')
                  circle(cx='690.062' cy='1251.28' r='10.723')
