.logo-sub.d-flex.justify-content-center.text-center
    a.col-12(href='/') 
        img.logo(src=require("Images/viva-napoli-logo.svg", alt="Trattoria Viva Napoli"))
.prime-bg.btn-back.d-flex.relative

    a.absolute(href="/")
        svg.m-0.icons.back.border-0(width='40' height='40' viewbox='0 0 40 40' fill='current-color' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M17.357 20L26.1785 11.1785C26.8294 10.5276 26.8294 9.47237 26.1785 8.8215C25.5276 8.17063 24.4723 8.17063 23.8215 8.8215L13.8215 18.8215C13.1706 19.4724 13.1706 20.5276 13.8215 21.1785L23.8215 31.1785C24.4723 31.8294 25.5276 31.8294 26.1785 31.1785C26.8294 30.5276 26.8294 29.4724 26.1785 28.8215L17.357 20Z' )
            path(fill-rule='evenodd' clip-rule='evenodd' d='M17.357 20L26.1785 11.1785C26.8294 10.5276 26.8294 9.47237 26.1785 8.8215C25.5276 8.17063 24.4723 8.17063 23.8215 8.8215L13.8215 18.8215C13.1706 19.4724 13.1706 20.5276 13.8215 21.1785L23.8215 31.1785C24.4723 31.8294 25.5276 31.8294 26.1785 31.1785C26.8294 30.5276 26.8294 29.4724 26.1785 28.8215L17.357 20Z')
    .container.sub.text-center 
        h2.fw-bolder.text-uppercase.m-0 Speisen